@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #FFFFFF;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


body{
    background-image: url(../img/hotel-1330850_1280.jpg);
   
    height: 100%;
    width: 100%;
}

nav .camp {
    background-color: #0B3860;
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.table{
    width: 100%;
    border: 1px solid #0B3860;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

table tr{
    background-color: #778088;
    border: 1px solid #0B3860;
}

table th, .table td{
    font-size: 13px;
    padding: 10px;
    text-align: center;
}

table thead th{
    text-transform: uppercase;
    background-color: #0B3860;
}

.table tbody tr:hover{
    background-color: rgb(0,0,0,0.2);
    color: #0B3860;
}

.table tbody td:hover{
    background-color: rgb(0,0,0,0.3);
    color: #FFFEFC;
}

@media  screen and (max-width: 650px) {
    .table{
        border: 0px;
    }

    .table caption{
        font-size: 20px;
    }

    .table thead{
        display: none;
    }

    .table tr{
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }

    .table th, .table td{
font-size: 10px;
    }

    table td{
display: block;
border-bottom: 1px solid#ddd;
text-align: right;
    }

    table td:last-child{
        border-bottom: 0px;
    }

    table td::before{
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}